body {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: #bbada0;
}

.container {
  background-color: #bbada0;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 15px;
  border-radius: 10px;
}

.cell {
  width: 100px;
  height: 100px;
  background: rgba(238, 228, 218, 0.35);
  border-radius: 5px;
}
